In [1]:
import pandas as pd
from sqlalchemy import create_engine
from config import user, password

In [2]:
user

'postgres'

In [3]:
password

'postgres'

In [4]:
final_data = "final_data.csv"
final_df = pd.read_csv(final_data)

In [22]:
final_df = final_df.rename(columns={"Spring": "spring", "Summer": "summer", "Fall": "fall", "Winter": "winter", "Commodity": "commodity", "Commodity_Type": "commodity_type", "Unnamed: 0": "id", "Sale_Date": "sale_date", "Weighted_Avg_Price": "weighted_avg_price"})
final_df.head()

,id,commodity,sale_date,weighted_avg_price,spring,summer,fall,winter,commodity_type
0,0,CUCUMBERS,1/11/2019,0.69,No,Yes,No,No,Vegetable
1,1991,APPLES FUJI,1/11/2019,1.48,Yes,Yes,Yes,Yes,Fruit
2,1990,APPLES FUJI,1/11/2019,0.87,Yes,Yes,Yes,Yes,Fruit
3,1989,APPLES PINK LADY/CRIPPS PINK,1/11/2019,1.54,Yes,Yes,Yes,Yes,Fruit
4,1988,APPLES BRAEBURN,1/11/2019,0.99,Yes,Yes,Yes,Yes,Fruit

In [23]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2727 entries, 0 to 2726
Data columns (total 9 columns):
id                    2727 non-null int64
commodity             2727 non-null object
sale_date             2727 non-null object
weighted_avg_price    2727 non-null float64
spring                2727 non-null object
summer                2727 non-null object
fall                  2727 non-null object
winter                2727 non-null object
commodity_type        2727 non-null object
dtypes: float64(1), int64(1), object(7)
memory usage: 191.8+ KB

In [24]:
connection_string = "postgres:postgres@localhost:5432/seasonal_produce"
engine = create_engine(f'postgresql://{connection_string}')

In [25]:
engine.table_names()

['seasonal_produce']

In [26]:
# final_df.reset_index()
final_df.to_sql('seasonal_produce', con=engine, if_exists='append', index=False)